# Contactome and Protonation assessment

The aim of this program is to assess the protonation established by the protein prepare function from htmd. The first step is the creation of the contactome, and object that contains all the important interactions (depenting on a cutoff) of the protein. Then, using as a starting point the contactome the protonation of the amino acids is revised.

In [1]:
from htmd import *
from contactome import *  # contactome.py has to be located in the working directory
pdb = Molecule('3PTB') 
my_pdb, prepData = proteinPrepare(pdb, returnDetails=True) #proteinPrepare step
prova,check = contactome(my_pdb,prepData,returnDetails=True) # contactome creation and contactome checking

2017-06-20 18:17:06,883 - htmd.molecule.readers - INFO - Attempting PDB query for 3PBL

Please cite HTMD: Doerr et al.(2016)JCTC,12,1845. https://dx.doi.org/10.1021/acs.jctc.6b00049

HTMD Documentation at: https://www.htmd.org/docs/latest/

New devel HTMD version (1.7.35 python[==3.5,==3.6]) is available. You are currently on (1.7.32). Use 'conda update -c acellera htmd' to update to the new version. You might need to update your python version as well if there is no release for your current version.

2017-06-20 18:17:11,122 - propka - INFO - No pdbfile provided
2017-06-20 18:17:22,768 - htmd.builder.preparation - WARNING - The following residue has not been optimized: ETQ
2017-06-20 18:17:22,769 - htmd.builder.preparation - WARNING - The following residue has not been optimized: MAL
2017-06-20 18:18:03,322 - htmd.builder.preparationdata - INFO - The following residues are in a non-standard state: ASP    75  A (ASH), CYS   103  A (CYX), HIS   137  A (HID), HIS   140  A (HID), CYS   181  A (CYX), HIS  1031  A (HIP), HIS   349  A (HID), HIS   354  A (HID), CYS   355  A (CYX), CYS   358  A (CYX), HIS   359  A (HID), ASP    75  B (ASH), CYS   103  B (CYX), CYS   181  B (CYX), GLU  1011  B (GLH), HIS  1031  B (HIP), HIS   349  B (HID), HIS   354  B (HID), CYS   355  B (CYX), CYS   358  B (CYX), HIS   359  B (HID)
2017-06-20 18:18:03,325 - htmd.builder.preparationdata - WARNING - Dubious protonation state: the pKa of 12 residues is within 1.0 units of pH 7.0.
2017-06-20 18:18:03,328 - htmd.builder.preparationdata - WARNING - Dubious protonation state:    ASP    75  A (pKa= 7.59)
2017-06-20 18:18:03,329 - htmd.builder.preparationdata - WARNING - Dubious protonation state:    HIS   140  A (pKa= 6.03)
2017-06-20 18:18:03,331 - htmd.builder.preparationdata - WARNING - Dubious protonation state:    HIS  1031  A (pKa= 7.15)
2017-06-20 18:18:03,333 - htmd.builder.preparationdata - WARNING - Dubious protonation state:    HIS   354  A (pKa= 6.43)
2017-06-20 18:18:03,334 - htmd.builder.preparationdata - WARNING - Dubious protonation state:    HIS   359  A (pKa= 6.42)
2017-06-20 18:18:03,336 - htmd.builder.preparationdata - WARNING - Dubious protonation state:    ASP    75  B (pKa= 8.00)
2017-06-20 18:18:03,338 - htmd.builder.preparationdata - WARNING - Dubious protonation state:    GLU  1011  B (pKa= 7.10)
2017-06-20 18:18:03,339 - htmd.builder.preparationdata - WARNING - Dubious protonation state:    HIS  1031  B (pKa= 7.12)
2017-06-20 18:18:03,341 - htmd.builder.preparationdata - WARNING - Dubious protonation state:    HIS   354  B (pKa= 6.41)
2017-06-20 18:18:03,343 - htmd.builder.preparationdata - WARNING - Dubious protonation state:    HIS   359  B (pKa= 6.39)
2017-06-20 18:18:03,345 - htmd.builder.preparationdata - WARNING - Dubious protonation state:    N+     32T A (pKa= 7.97)
2017-06-20 18:18:03,346 - htmd.builder.preparationdata - WARNING - Dubious protonation state:    N+     32T B (pKa= 7.90)

**Contactome**: 2 chains detected --> A B. Creating the contactome...
Checking the contactome...

CHARGE CLASHES:  (cutoff=3.5)
Charged residue ('A', 1061, 'ASP', 'OD2') is in direct H-bond orientation with a residue of the same charge: ('A', 1064, 'GLU', 'OE1')
Charged residue ('A', 1061, 'ASP', 'OD2') is in direct H-bond orientation with a residue of the same charge: ('A', 1064, 'GLU', 'OE2')
Charged residue ('B', 219, 'ARG', 'NH1') is in direct H-bond orientation with a residue of the same charge: ('B', 325, 'LYS', 'NZ')
Charged residue ('A', 1020, 'ASP', 'OD2') is in direct H-bond orientation with a residue of the same charge: ('A', 1022, 'GLU', 'OE1')
Charged residue ('A', 1020, 'ASP', 'OD2') is in direct H-bond orientation with a residue of the same charge: ('A', 1022, 'GLU', 'OE2')

9.06 min

DUBIOUS HISTIDINE:  (cutoff=3.5)
Chain: B | Resid: 354 | Protonation: HID || Predicted --> HIP
Chain: B | Resid: 349 | Protonation: HID || Predicted --> HIE
Chain: A | Resid: 354 | Protonation: HID || Predicted --> HIE
Chain: A | Resid: 349 | Protonation: HID || Predicted --> HIE HIP
Chain: B | Resid: 359 | Protonation: HID || Predicted --> HIE
Chain: A | Resid: 140 | Protonation: HID || Predicted --> HIE

## 1) Retrieving information

Here are the main ways to retrieve specific information from the contactome.
The first example will be how to get all the contacts from an specific amino acid type.

In [2]:
prova.iloc[prova.index.get_level_values('Resname') == 'SER']

                           chain resid resname name  bond
Chain Resid Resname Name n
A     35    SER     OG   0
                    OGd  0
      70    SER     OG   1     A   120     ASN  ND2  2.84
                         2     A    71     LEU    H  2.93
                    OGd  1     A   120     ASN  OD1  2.72
                         2     A    67     LEU    O   3.5
      99    SER     OG   1     A   101     ILE    H  2.22
                         2     A   102     CYS    H   2.8
                         3     A   100     ARG    H  2.96
                    OGd  0
      117   SER     OG   0
                    OGd  0
      125   SER     OG   0
                    OGd  1     A   121     LEU    O  2.84
      145   SER     OG   0
                    OGd  0
      146   SER     OG   0
                    OGd  1     A   141     GLY    O  3.16
      165   SER     OG   1     A   112     MET    H  3.16
                    OGd  1     A   161     ALA    O  3.21
      182   SER     OG   0
                    OGd  0
      184   SER     OG   0
                    OGd  1     A   174     THR    O   2.6
      192   SER     OG   1     A   196     SER   OG  3.01
                    OGd  1     A   196     SER   OG  3.01
      193   SER     OG   1     A   194     VAL    H  2.28
                    OGd  1     A   190     ILE    O  2.32
                         2     A   189     VAL    O   3.1
      196   SER     OG   1     A   115     THR  OG1  2.62
...                          ...   ...     ...  ...   ...
B     193   SER     OGd  2     B   190     ILE    O  2.99
      196   SER     OG   1     B   115     THR  OG1  2.63
                         2     B   192     SER   OG  3.28
                    OGd  1     B   115     THR  OG1  2.63
                         2     B   192     SER   OG  3.28
      361   SER     OG   1     B   364     LEU    H  2.79
                    OGd  0
      366   SER     OG   0
                    OGd  1     B   362     PRO    O  3.15
      376   SER     OG   0
                    OGd  1     B   373     TYR    O  3.34
      399   SER     OG   0
                    OGd  1     B   398     LEU    O  2.53
      1036  SER     OG   1     B  1038     SER    H  2.55
                    OGd  0
      1038  SER     OG   1     B  1040     ASN    H  2.77
                         2     B  1039     LEU    H  2.79
                         3     B  1041     ALA    H  3.35
                    OGd  0
      1044  SER     OG   0
                    OGd  0
      1090  SER     OG   1     B  1091     LEU    H  3.36
                         2     B  1124     LYS   NZ  3.38
                    OGd  1     B  1087     VAL    O   2.6
      1117  SER     OG   1     B  1132     ASN  ND2  2.97
                    OGd  0
      1136  SER     OG   1     B  1139     TYR    H  2.71
                         2     B  1138     TRP    H  3.12
                         3     B  1137     ARG    H  3.26
                    OGd  0

[117 rows x 5 columns]

You can also retrieve information on the contacts from more than one amino acid type:

In [ ]:
prova.loc(axis=0)[:,:,('GLU','ASP'),:]

By using the name of the different levels you can do a more specific search. For example, get all the nformation for an specific residue:

In [ ]:
prova.iloc[prova.index.get_level_values('Resid') == 228]

Anoter possible action is to retrieve in a numpy array all the bond distances of a specific residue:

In [ ]:
np.asarray(prova.loc(axis=0)[:,228]['bond']) #All the bonds

## 2) Filtering for at least one hit

There are some residues i the contactome that do not have any interaction with anything else. To only get the residues that have one ore more contacts you can run the following command:

In [ ]:
prova.iloc[prova.index.get_level_values('n') != 0]

## 3) Contactome methods

### 3.1 Narrow

Return a new Contactome object with the first hit (n=1) and all the following hits with a difference between bond-distance equal o lower than a given cutoff. By default the cutoff is set to 0.5.

In [ ]:
prova.narrow()

In [ ]:
prova.narrow(0.2)

In [ ]:
prova.narrow(0)

### 3.2 Viewer

Opens a VMD visualization with the contactome information for a given query.

In [ ]:
prova.viewer(my_pdb,'A',245)

You can set the argument displayChain= False to only show the query amino acid with the interactions without the chain:

In [ ]:
 prova.viewer(my_pdb,'A',245,displayChains=False)

### 3.3 get_chn_int

Return a pandas.DataFrame object with the entries of the contactome with interactions with other chains:

In [ ]:
prova.get_chn_int()

### 3.4 check

Call the functions 'charge_test' and 'his_test' and return a pandas.Dataframe object with a summary of the results for both functions.

In [ ]:
prova.check(my_pdb)

## 4) Destroying multi-index DataFrame

Destroys the multi-index format allowing to use the normal pandas.dataFrame methods. All the contactome methods are disabled in this format.

In [ ]:
prova.reset_index()